extend ./components/global/_global.pug
block head
    - const SEE_HEADER = false
    - const SEE_FOOTER = false
    +style-head("homepage/style.css")
    //- +style-head-responsive("homepage/tablet.css", "800")
    //- +style-head-responsive("homepage/desktop.css", "1024")
    +titles("")
block main
    main.main

block scripts
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-M8H4YB694S")
	script(src="../dist/googleAnalytics.js")

